<!-- login.component.html -->
<form (ngSubmit)="onSubmit()">
  <input type="email" name="email" [(ngModel)]="credentials.email" required />
  <input type="password" name="password" [(ngModel)]="credentials.password" required />
  <button type="submit">Login</button>
</form>
